<br />
<div class="container">
  <div class="row">
    <div class="col-md-12">
      <a class="btn btn-success btn-sm pull-right" [routerLink]="['/admin/newPost']">+&nbsp;&nbsp;New Post</a
      ><br /><br />
      <table class="table table-hover">
        <thead>
          <tr>
            <th>Title</th>
            <th>Post Date</th>
            <th>Category</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let post of blogPosts" (click)="rowClicked($event,post._id)" >
            <td>{{post.title}}</td>
            <td>{{post.postDate | date:'mediumDate'}}</td>
            <td>{{post.category}}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
<br />
