<div class="container">
  <div class="row">
    <!-- Latest Posts -->
    <main class="post blog-post col-lg-8">
      <div class="container">
        <app-post-data></app-post-data>
      </div>
    </main>
    <aside class="col-lg-4">
      <!-- Widget [Search Bar Widget]-->
      <app-widget-search></app-widget-search>

      <!-- Widget [Latest Posts Widget] -->
      <app-latest-posts></app-latest-posts>

      <!-- Widget [Categories Widget]-->
      <app-categories></app-categories>

      <!-- Widget [Tags Cloud Widget]-->
      <app-tags></app-tags>
    </aside>
  </div>
</div>
